html,body {
    height:100%;
  }
  
  .first {
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('../images/cave_copy.jpg');
    background-position: top center;
  }
  
  .affix {
    background-color: teal;
    -webkit-transition:padding 0.2s ease-out;
    -moz-transition:padding 0.2s ease-out;  
    -o-transition:padding 0.2s ease-out;         
    transition:padding 0.2s ease-out;
  }
  
  @media (min-width:768px) {
      .affix-top {
        /* navbar style at top */
        background-color:transparent;
        border-color:transparent;
        padding: 15px;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease; 
        -o-transition:all 0.5s ease;         
        transition:all 0.5s ease;  
      }
  }
  
  nav .navbar-nav .nav-link,
  nav .navbar-brand {
     color: white;
  }
  
  section {
    height:calc(90% - 50px);
    height: 90vh;
  }

  .pageTextName {
    padding-top: 200px;
    font-size: 70px;
 
    /* font-family: 'Abel', sans-serif; /* Maybe for beleow */
    /* font-family: 'Barlow Semi Condensed', sans-serif; /* Maybe below */
    /* font-family: 'Assistant', sans-serif; /* Pretty boring... could be used for below */
    /* font-family: 'Averia Serif Libre', cursive; /* Maybe below */
    /* font-family: 'BenchNine', sans-serif; /* Below */
    /* font-family: 'Handlee', cursive; /* Below */
    /* font-family: 'M PLUS 1p', sans-serif; /* Below */
    /* font-family: 'Montserrat', sans-serif; /* Below */
    /* font-family: 'News Cycle', sans-serif; /* Below */
    /* font-family: 'Overlock', cursive; /*Below */
    /* font-family: 'Pompiere', cursive; /*Below */
    
    /* font-family: 'Darker Grotesque', sans-serif; /* Like */
    /* font-family: 'Coming Soon', cursive; /* Like */
    /* font-family: 'Fredericka the Great', cursive; /*Really Like */
    /* font-family: 'Give You Glory', cursive; /* Like */
    /* font-family: 'Liu Jian Mao Cao', cursive; /*Like */
    /* font-family: 'Open Sans Condensed', sans-serif; /* Like and for below */
     /* font-family: 'Over the Rainbow', cursive;  */
    /* font-family: 'Poiret One', cursive; /*Like and below */
    /* font-family: 'Shadows Into Light Two', cursive; /*Really Like */
    /* font-family: 'Waiting for the Sunrise', cursive;  */



  }

